<div class="flex flex-col items-start space-y-2 border-2 p-1 rounded-md">
  <img [src]="item.url" alt="" class="" />
  <div class="flex flex-row justify-between w-full">
    <div>
      <p class="text-lg font-bold">{{ item.name }}</p>
      <p>{{ item.description }}</p>
    </div>
    <p class="font-bold">${{ item.price }}</p>
  </div>
  <div *ngIf="cartItem">
    <button (click)="removeItem.emit(item)">
      <img src="/assets/trash-bin.png" alt="deleteItem" class="w-6 h-6" />
    </button>
  </div>
</div>
